extends ../templates/template
block menu
    - pageActive = 'contact'
    include ../includes/main-menu
block title
    h1.title Contact
block main
    .contact
        .contact__form
            form.form-contact(action="#")
                .form-contact__fields
                    input(type="text", name="name", placeholder ="name").form-contact__input
                    input(type="email", name="email", placeholder ="email").form-contact__input
                    input(type="text", name="subject", placeholder ="subject").form-contact__input
                .form-contact__field
                    textarea(name="message", placeholder="message").form-contact__textarea
            .form-contact__field
                input(type="submit" value="send").form__submit

        .contact__map
            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63778.383704250766!2d-76.63495373715074!3d2.457470245296637!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e300311c028d47d%3A0x880bd67f0987a54e!2zUG9wYXnDoW4sIENhdWNh!5e0!3m2!1sen!2sco!4v1590951094599!5m2!1sen!2sco', frameborder='0', style='border:0;', allowfullscreen='', aria-hidden='false', tabindex='0')

        .social
            .social__icon
                i.fab.fa-twitter-square
                i.fab.fa-twitter-square
            .social__icon
                i.fab.fa-instagram
                i.fab.fa-instagram
            .social__icon
                i.fab.fa-youtube-square
                i.fab.fa-youtube-square
            .social__icon
                i.fab.fa-pinterest-square
                i.fab.fa-pinterest-square