body {
  background-color: coral;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

h1 {
  color: white; }

.blue {
  color: cyan; }

.red {
  color: chartreuse; }
