<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="css/styles.css")
    body
        header#header.header
            a(href="/").logo
                img(src="./assets/img/logo.png", alt="web logo")
            .topbar
                .topbar__icon
                    i.fa.fa-user
                    span Login
                .topbar__icon
                    i.fa.fa-user-plus
                    span Register
                .toggle-menu
                    #toggle-menu.toggle-menu__icon
                        .first-bar 
                        .second-bar
                        .third-bar 
        aside#sidebar.sidebar 
        main.main 
        script(src="https://kit.fontawesome.com/e57be5d678.js", crossorigin="anonymous") <!-- uso de la fuente font awesome para iconos web-->